{{define "header"}}
<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>ini title header</title>
		</head>
        <body>
		<br/>
		<center>
			<a href="/">Home</a>&nbsp;||
			<a href="/list">Crud Data</a>&nbsp;||
			<a href="/rest">Rest Api</a>&nbsp;
		</center>
		<br/>
		<br/>
{{end}}